{
  "openapi": "3.0.3",
  "info": {
    "title": "Discover Egypt API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.discoveregypt.com/v1"
    }
  ],
  "paths": {
    "/hotels": {
      "get": {
        "operationId": "listHotels",
        "parameters": [
          {"name": "city", "in": "query", "schema": {"type": "string"}},
          {"name": "sortBy", "in": "query", "schema": {"type": "string"}}
        ],
        "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HotelListResponse"}}}}}
      }
    },
    "/tours": {
      "get": {
        "operationId": "listTours",
        "parameters": [
          {"name": "category", "in": "query", "schema": {"type": "string"}}
        ],
        "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TourListResponse"}}}}}
      }
    },
    "/cars": {
      "get": {
        "operationId": "listCars",
        "parameters": [
          {"name": "type", "in": "query", "schema": {"type": "string"}},
          {"name": "withDriverOnly", "in": "query", "schema": {"type": "boolean"}}
        ],
        "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CarListResponse"}}}}}
      }
    },
    "/restaurants": {
      "get": {
        "operationId": "listRestaurants",
        "parameters": [
          {"name": "cuisine", "in": "query", "schema": {"type": "string"}}
        ],
        "responses": {"200": {"description": "OK", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RestaurantListResponse"}}}}}
      }
    }
  },
  "components": {
    "schemas": {
      "Hotel": {
        "type": "object",
        "required": ["id", "name", "city", "location", "image", "rating", "reviewCount", "price", "amenities", "stars"],
        "properties": {
          "id": {"type": "string"}, "name": {"type": "string"}, "city": {"type": "string"}, "location": {"type": "string"},
          "image": {"type": "string"}, "rating": {"type": "number"}, "reviewCount": {"type": "integer"}, "price": {"type": "number"},
          "amenities": {"type": "array", "items": {"type": "string"}}, "stars": {"type": "integer"}
        }
      },
      "Tour": {
        "type": "object",
        "required": ["id", "name", "category", "duration", "image", "rating", "reviewCount", "price", "pickupIncluded"],
        "properties": {
          "id": {"type": "string"}, "name": {"type": "string"}, "category": {"type": "string"}, "duration": {"type": "string"},
          "image": {"type": "string"}, "rating": {"type": "number"}, "reviewCount": {"type": "integer"}, "price": {"type": "number"},
          "pickupIncluded": {"type": "boolean"}
        }
      },
      "Car": {
        "type": "object",
        "required": ["id", "name", "type", "image", "seats", "transmission", "rating", "reviewCount", "price", "withDriver", "driverPrice"],
        "properties": {
          "id": {"type": "string"}, "name": {"type": "string"}, "type": {"type": "string"}, "image": {"type": "string"},
          "seats": {"type": "integer"}, "transmission": {"type": "string"}, "rating": {"type": "number"}, "reviewCount": {"type": "integer"},
          "price": {"type": "number"}, "withDriver": {"type": "boolean"}, "driverPrice": {"type": "integer"}
        }
      },
      "Restaurant": {
        "type": "object",
        "required": ["id", "name", "cuisine", "location", "image", "rating", "reviewCount", "priceRange", "deliveryTime", "delivery"],
        "properties": {
          "id": {"type": "string"}, "name": {"type": "string"}, "cuisine": {"type": "string"}, "location": {"type": "string"},
          "image": {"type": "string"}, "rating": {"type": "number"}, "reviewCount": {"type": "integer"}, "priceRange": {"type": "string"},
          "deliveryTime": {"type": "integer"}, "delivery": {"type": "boolean"}
        }
      },
      "HotelListResponse": {"type": "object", "properties": {"items": {"type": "array", "items": {"$ref": "#/components/schemas/Hotel"}}}},
      "TourListResponse": {"type": "object", "properties": {"items": {"type": "array", "items": {"$ref": "#/components/schemas/Tour"}}}},
      "CarListResponse": {"type": "object", "properties": {"items": {"type": "array", "items": {"$ref": "#/components/schemas/Car"}}}},
      "RestaurantListResponse": {"type": "object", "properties": {"items": {"type": "array", "items": {"$ref": "#/components/schemas/Restaurant"}}}}
    }
  }
}
